<% add_extra_css('salary-calculator.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/vue-select.min.js', 'libs/clipboard.min.js', 'libs/core-js.url.js', 'bundles/salary-calculator.js') %>

<div class="salary-container col-xs-12">
  <h2 id="compensation">Compensation</h2>
  <h3>Components</h3>
  <p>Compensation at GitLab consists of:</p>
  <ol>
    <li>Base salary</li>
    <li><a href="/handbook/stock-options/">Options</a></li>
    <li>Bonus in some functions</li>
    <li><a href="/handbook/incentives/#discretionary-bonuses">Discretionary bonus</a></li>
    <li><a href="/handbook/benefits/inc-benefits-us/#401k-plan">Retirement contributions</a> in eligible regions</li>
    <li><a href="/handbook/spending-company-money/">Pay for equipment</a></li>
    <li><a href="/handbook/benefits/#all-remote">Remote work</a></li>
    <li><a href="/handbook/paid-time-off/#paid-time-off">Unlimited time off</a></li>
    <li><a href="/handbook/benefits/">Benefits</a></li>
  </ol>
  <noscript class="salary-calculator" data-role="<%= locals.fetch(:role, nil) %>">
    <p>Please enable JavaScript to be able to utilize the compensation calculator</p>
  </noscript>
</div>
